<html>
<head>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/register_style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/login3.js') }}" ></script>
<!--<script type="text/javascript" src="login.js" ></script>-->
</head>
<body>
{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}
<div class="login-page">
<div class="form">
    <form action="/register" method="post">
      <input name="regid" type="text" placeholder="username"/>
      <input name="pwd" type="password" placeholder="password"/>
	  <input name="pwd_2" type="password" placeholder="Re-Type password"/>
	  
      <button type="submit">create</button>
      <p class="message">Already registered? <a id="show_login" href="{{ url_for('home') }}">Sign In</a></p>
    </form>
</div>
</form>
</body>
</html>